/* Imports --------------- */

@import url('https://fonts.googleapis.com/css2?family=DM+Mono:wght@500&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

:root{
  --color-foreground: #ffffff;
  --color-accent: #9AF3FF;
  --color-accent-dark: #14AABF;
  --color-bg: #000000;
  --color-bg-alt: #222222;
  --color-feint-line: rgb(255, 255, 255, 0.2);
  --border-radius: 4px;
  --gutter-padding: 2rem;
  --gutter-padding--mobile: 4rem;
  --block-spacing: 4rem;
  --block-spacing--shallow: 2rem;
  --font-std: "Rubik", sans-serif;
  --font-metadata: "DM Mono", monospace;
  --font-weight-metadata: 500;
  --font-size-regular: 1.6rem;
  --font-size-small: 1.4rem;
  --font-size-display: 6.4rem;
  --font-size-display-small: 4rem;
  --font-weight-regular: 400;
  --font-weight-bold: 500;
  --font-weight-display: 600;
}

/* Some resets --------------- */

p, ul, ol, img, li, h1, h2, h3, h4, h5, h6, input, select, textarea, label{
  padding-top: 0;
  margin-top: 0;
}

input, button, label, textarea{
  margin-bottom: var(--block-spacing--shallow);
}

*{
  box-sizing: border-box;
}

/* Base --------------- */

html{
  font-size: 10px;
}

body{
  padding: 0;
  margin: 0;
  background-color: var(--color-bg-alt);
  color: var(--color-foreground);
  font-family: var(--font-std);
  font-size: var(--font-size-regular);
  font-weight: var(--font-weight-regular);
  /* &:before{
    content: '';
    border: 10px solid white;
    width: calc(100vw - 20px);
    height: calc(100vh - 20px);
    position: absolute;
    left: 0;
    top: 0;
    display: block;
  } */
}

a{
  color: var(--color-accent);
  text-decoration: underline;
  text-underline-offset: .15em;
  &:hover{
    text-decoration: none;
  }
}

/* Helpers --------------- */

.highlight{
  color: var(--color-accent);
}

/* Layout --------------- */

.container{
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
  padding-left: var(--gutter-padding--mobile);
  padding-right: var(--gutter-padding--mobile);
}

/* Some common elements --------------- */

hr{
  border: 0;
  background-color: black;
  height: 1px;
  margin-bottom: var(--block-spacing);
}

button{
  background-color: var(--color-foreground);
  border: none;
  text-transform: uppercase;
  padding: .5em .8em;
  margin: .5em;
  color: white;
  font-weight: bold;
  cursor: pointer;
}

/* Header -------------------- */

.header{
  background-color: var(--color-bg-alt);
  padding-top: var(--block-spacing--shallow);
  padding-bottom: var(--block-spacing--shallow);
}

.header__inner{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.header__site-name{
  margin: 0;
  padding: 0;
  line-height: 1;
  font-size: var(--font-size-regular);
  font-weight: var(--font-weight-bold);
  text-transform: uppercase;
  display: flex;
  gap: .5em;
  position: relative;
  top: .05em;
  letter-spacing: 0.03em;
  flex-shrink: 0;
}

.header__site-name span.name{
  color: var(--color-accent);
}

.header__line{
  border: 0;
  margin: 0;
  padding: 0;
  height: 1px;
  background-color: var(--color-accent);
  width: 100%;
}

/* Hero -------------------- */

.hero{
  background-color: var(--color-bg);
  padding-top: calc(var(--block-spacing)*4);
  padding-bottom: calc(var(--block-spacing)*4);
}

.hero__message{
  font-size: var(--font-size-display);
  font-weight: var(--font-weight-display);
}

.hero__message__main{
  margin-bottom: .6em;
}

.hero__message__sub{
  font-size: var(--font-size-display-small);
}

.hero__links{
  display: flex;
  gap: 1em;
}

/* Container -------------------- */

.container{
  padding:0 var(--block-spacing);
}

/* Card -------------------- */

.grid{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: .5rem;
  margin: .5rem;
}

.card{
  background-color: var(--color-bg-alt);
  padding: .5rem;
  position: relative;
  border-radius: var(--border-radius);
  list-style: none;
}

.card img{
  width: 100%;
  height: auto;
  aspect-ratio: 1/1;
  object-fit: cover;
  border-radius: var(--border-radius);
  margin-bottom: var(--block-spacing--shallow);
}

/* Footer -------------------- */

.footer{
  padding: var(--block-spacing);
  height: 300px;
}